.form{
    width: fit-content;
    margin: auto;
  }
  .itemForm {
    margin: 15px 0;
    width: 100%;
  }
  .itemForm label{
    display: block;
    margin-bottom: 5px;
  }
  .itemForm input,
  .itemForm textarea {
    background-color: #2b2b2b;
    border: none;
    outline: none;
    padding: 10px;
    border-bottom: 1px solid gray;
    resize: vertical;
    width: 100%;
  }

  .button {
    border-radius: 15px;
  }
  .button button{

    height: 50px;
    width: 150px;
    background-color: rgb(201, 41, 41);
    border-radius: 15px;

  }

.button button:hover{
    background-color: transparent;
}
  
  .itemForm input::placeholder{
    color: gray;
  }
